<!-- templates/registration/password_reset_done.html -->
{% extends "public/layout/base.html" %}
{% load static %}
{% load frontend_custom_filters %}
{% block header %}
<style>
    .bg-home{
        background-color:  #fff !important;
    }
</style>
{% endblock %}

{% block content %}
<!-- Hero Start -->
<section class="bg-home bg-light d-flex align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text-center">
                <div class="icon d-flex align-items-center justify-content-center bg-soft-primary rounded-circle mx-auto" style="height: 90px; width:90px;">
                    <i class="uil uil-thumbs-up align-middle h1 mb-0"></i>
                </div>
                <h1 class="my-4 fw-bold text-light">Thank You</h1>

                <p class="text-light para-desc mx-auto">Your password has been reset successfully. You will be redirected to the login page in <span id="countdown">5</span> seconds...</p>
                <a href="{% url 'index' %}" class="btn btn-soft-primary mt-3">Go To Home</a>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->
{% endblock content %}

{% block script %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var countdown = 5;
        var interval = setInterval(function() {
            countdown--;
            document.getElementById("countdown").textContent = countdown;
            if (countdown <= 0) {
                clearInterval(interval);
                window.location.href = "{% url 'customer_login' %}"; // Replace 'target_page' with your target URL name
            }
        }, 1000);
    });
</script>

{% endblock script %}
