{% include 'public/Car-Configurator/header.html' %}
{% load static %}
{% block header %}
{% endblock header %}

<body>    
  
  
    {% block content %}
    {% endblock content %}
  
    {% block script %}
    {% endblock script %}
     <!-- SweetAlert2 -->
  <script src="{% static 'admin/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
  <!-- Toastr -->
  <script src="{% static 'admin/plugins/toastr/toastr.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () { 
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });
  {% if messages %}
    {% for message in messages %}
    toastr.{{ message.tags }}('{{ message }}')
    {% endfor %}
  {% endif %} 
});
</script>
  </body>
</html>