{% extends "public/layout/base.html" %}
{% load static %}
{% block header %}
{% endblock %}

{% block content %}
<section class="section bg-black">
<div class="container">
    <div class="layout-specing">
        <!-- <div class="d-md-flex justify-content-between align-items-center">
            <h5 class="mb-0">Profile Setting</h5>

            <nav aria-label="breadcrumb" class="d-inline-block mt-2 mt-sm-0">
                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                    <li class="breadcrumb-item text-capitalize"><a href="index.html">Landrick</a></li>
                    <li class="breadcrumb-item text-capitalize"><a href="#">Proflie</a></li>
                    <li class="breadcrumb-item text-capitalize active" aria-current="page">Setting</li>
                </ul>
            </nav>
        </div> -->
        <div class="row">
                     <!-- START SIDEBAR -->
                     <div class="col-lg-4 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                        {% include "customer/sidebar.html" %}
        
                    </div><!--end col-->
                    <!-- END SIDEBAR -->
    
            <div class="col-lg-8 col-12">
                <div class="row">
                    <div class="col-lg-12 mt-4">
                        <div class="card border-0 rounded shadow">
                            <div class="card-body">
                                <h5 class="text-md-start text-center mb-0">Personal Detail :</h5>
<!-- 
                                <div class="mt-4 text-md-start text-center d-sm-flex">
                                    <img src="assets/images/client/05.jpg" class="avatar float-md-left avatar-medium rounded-circle shadow me-md-4" alt="">
                                    
                                    <div class="mt-md-4 mt-3 mt-sm-0">
                                        <a href="javascript:void(0)" class="btn btn-primary mt-2">Change Picture</a>
                                        <a href="javascript:void(0)" class="btn btn-outline-primary mt-2 ms-2">Delete</a>
                                    </div>
                                </div> -->

                                <form>
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">First Name</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input name="name" id="first" type="text" value="{{ user_data.first_name }}" class="form-control ps-5" placeholder="First Name :">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Last Name</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user-check" class="fea icon-sm icons"></i>
                                                    <input name="name" id="last" type="text" value="{{ user_data.last_name}}" class="form-control ps-5" placeholder="Last Name :">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Email</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                                    <input name="email" id="email" type="email" value="{{ user_data.email }}" class="form-control ps-5" disabled>
                                                </div>
                                            </div> 
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Phone No. :</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="phone" class="fea icon-sm icons"></i>
                                                    <input name="phone_number" id="phone_number" type="text" value="{{ user_data.phone_number }}" class="form-control ps-5" disabled>
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        
                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="submit" id="submit" name="send" class="btn btn-primary" value="Save Changes">
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form><!--end form-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <!-- <div class="col-lg-6 mt-4">
                        <div class="card border-0 rounded shadow p-4">
                            <h5 class="mb-0">Change password :</h5>
                            <form>
                                <div class="row mt-4">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Old password :</label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                <input type="password" class="form-control ps-5" placeholder="Old password" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">New password :</label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                <input type="password" class="form-control ps-5" placeholder="New password" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Re-type New password :</label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                <input type="password" class="form-control ps-5" placeholder="Re-type New password" required="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mt-2 mb-0">
                                        <button class="btn btn-primary">Save password</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="card border-0 rounded shadow p-4 mt-4">
                            <h5 class="mb-0">Account Notifications :</h5>

                            <div class="mt-4">
                                <div class="d-flex justify-content-between pb-4">
                                    <h6 class="mb-0">When someone mentions me</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti1">
                                        <label class="form-check-label" for="noti1"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">When someone follows me</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked id="noti2">
                                        <label class="form-check-label" for="noti2"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">When shares my activity</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti3">
                                        <label class="form-check-label" for="noti3"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">When someone messages me</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti4">
                                        <label class="form-check-label" for="noti4"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">        
                        <div class="card border-0 rounded shadow p-4">
                            <h5 class="mb-0">Marketing Notifications :</h5>

                            <div class="mt-4">
                                <div class="d-flex justify-content-between pb-4">
                                    <h6 class="mb-0">There is a sale or promotion</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti5">
                                        <label class="form-check-label" for="noti5"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">Company news</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noti6">
                                        <label class="form-check-label" for="noti6"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">Weekly jobs</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked id="noti7">
                                        <label class="form-check-label" for="noti7"></label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-4 border-top">
                                    <h6 class="mb-0">Unsubscribe News</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" checked id="noti8">
                                        <label class="form-check-label" for="noti8"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="card border-0 rounded shadow p-4 mt-4">
                            <h5 class="mb-0 text-danger">Delete Account :</h5>

                            <div class="mt-4">
                                <h6 class="mb-0">Do you want to delete the account? Please press below "Delete" button</h6>
                                <div class="mt-4">
                                    <button class="btn btn-danger">Delete Account</button>
                                </div>
                            </div>
                        </div> 
                    </div> -->
                </div>
            </div>
        </div><!--end row-->
    </div>
</div><!--end container-->
</section>

{% endblock content %}

{% block script %}
<script>
    document.getElementById("phone_number").addEventListener("input", function (e) {
        let value = e.target.value.replace(/\D/g, ""); // Remove non-numeric characters
    
        if (value.length > 10) value = value.substring(0, 10); // Limit to 10 digits
    
        let formattedValue = value;
    
        if (value.length > 6) {
            formattedValue = `(${value.substring(0, 3)}) ${value.substring(3, 6)}-${value.substring(6)}`;
        } else if (value.length > 3) {
            formattedValue = `(${value.substring(0, 3)}) ${value.substring(3)}`;
        } else if (value.length > 0) {
            formattedValue = `(${value}`;
        }
    
        e.target.value = formattedValue;
    });
    </script>
{% endblock script %}