{% extends "public/layout/base.html" %}
{% load static %}
{% block header %}
{% endblock %}

{% block content %}
        <!-- Hero Start -->
        <section class="bg-half-170 d-table w-100" style="background: url('/static/images/modern01.jpg');">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="pages-heading title-heading">
                            <h2 class="text-white title-dark logo-font text-uppercase"> Gen-Z Cars </h2>
                            
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="position-breadcrumb">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                            <li class="breadcrumb-item"><a class="logo-font" href="index.html">GEN-Z 40</a></li>
<!--                            <li class="breadcrumb-item"><a href="#">Company</a></li>-->
                            <li class="breadcrumb-item active text-success" aria-current="page">Company</li>
                        </ul>
                    </nav>
                </div>
            </div> <!--end container-->
        </section><!--end section-->
       
        <!-- Hero End -->

        <section class="section">
            <div class="container">
                <div class="row align-items-center" id="counter">
                    <div class="col-md-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="ms-lg-4">
                            <!-- <div class="d-flex mb-4">
                                <span class="text-primary h1 mb-0"><span class="counter-value display-1 fw-bold" data-target="15">0</span>+</span>
                                <span class="h6 align-self-end ms-2">Years <br> Experience</span>
                            </div> -->
                            <div class="section-title">
                                <!-- <h4 class="title mb-4">Who we are ?</h4> -->

                                <p class=""><span class="text-success fw-bold">GEN-Z</span> CARS, founded in 2020 by Salman Alvi, a young entrepreneur and car enthusiast based in New York City, is dedicated to manufacturing premium quality component cars. As a sister company to Alvi Motorsports, <span class="text-success fw-bold">GEN-Z</span> CARS specializes in producing modern reinterpretations of iconic vehicles such as the GT40 and Cobra, along with developing unique designs of their own.</p>
                                <p class="">True to its name, <span class="text-success fw-bold">GEN-Z</span>, the company blends vintage race car aesthetics with cutting-edge technology to create vehicles that are not only true to their heritage but also suitable for daily driving. <span class="text-success fw-bold">GEN-Z</span> CARS aims to uphold the integrity of classic race cars while making them more accessible to a broader audience.</p>
                                <p class="">One of <span class="text-success fw-bold">GEN-Z</span> CARS' primary goals is to deliver the highest quality vehicles at cost-effective prices, allowing more racing enthusiasts to enjoy these exceptional cars. All vehicles are meticulously crafted at our facility in South Carolina by a team of automotive experts, experienced designers, and skilled fabricators.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        

 <!-- Team Start -->
 <section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h2 class="fw-bold text-white text-center text-uppercase">Leadership</h2>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card team team-primary text-center border-0 bg-black">
                    
                    <div class="card-body py-3 px-0 content">
                        <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Salman Alvi</a></h5>
                        <small class="designation">Founder, President and CEO</small>
                        <small class="designation">sal@genz40.com</small><br>
                        <small class="designation">+1 (718) 787-5849</small>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card team team-primary text-center border-0 bg-black">
                    
                    <div class="card-body py-3 px-0 content">
                        <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Jeremy Diehl</a></h5>
                        <small class="designation">Build & Technical Support</small>
                        <small class="designation">jeremy@genz40.com</small><br>
                        <small class="designation">+1 (843) 560-4512</small>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card team team-primary text-center border-0 bg-black">
                    
                    <div class="card-body py-3 px-0 content">
                        <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Danny T</a></h5>
                        <small class="designation">Director Sales</small>
                    </div>
                </div>
            </div><!--end col-->
            
         
            
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card team team-primary text-center border-0 bg-black">
                    <div class="card-body py-3 px-0 content">
                        <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Anam S</a></h5>
                        <small class="designation">Marketing & Social Media Manager</small>
                    </div>
                </div>
            </div><!--end col-->
            
        </div><!--end row-->

    </div><!--end container-->
</section><!--end section-->
<!-- Team Start -->
 
        <section class="section bg-black">
              <div class="container bg-black">
                <!-- <div class="rounded py-5">
                    <div class="container"> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h4 class="fw-bold text-white text-center text-uppercase">Turnkey Minus Program</h4>
                                    <p class="text-center">GENZCARs has a turnkey minus program, where we build completely personalized cars based on your requirements. </p>
                                    <p class="text-center">
                                        To learn more about our turnkey minus program, book call with us through website or email us at <a class="text-success" href="mailto:info@genz40.com">info@genz40.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <!-- </div>
                </div> -->
            </div>

            <div class="container">
                <div class="row align-items-end mb-4 mt-4 pb-4">
                    <div class="col-md-12">
                        <div class="section-title mb-4">
                            <h2 class="fw-bold text-white text-center text-uppercase">OWNERSHIP</h2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="accordion" id="buyingquestion">
                            <div class="accordion-item rounded">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button border-0 bg-light text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        Can I do Financing?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#buyingquestion">
                                    <div class="accordion-body">
                                        Most of the owners secure their own financing by getting a personal loan. 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="accordion-item rounded mt-2">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button border-0 bg-light collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        Does GEN-Z Cars have any dealers?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#buyingquestion">
                                    <div class="accordion-body">
                                        We sell all our cars online through our platform. This let’s us keep the pricing as low as possible
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row align-items-end mb-4 mt-4 pb-4">
                    <div class="col-md-12">
                        <div class="section-title mb-4">
                            <h2 class="fw-bold text-white text-center text-uppercase">PRODUCTION PROGRESS & TIMELINES</h2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="accordion" id="buyingquestion1">
                            <div class="accordion-item rounded">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button border-0 bg-light text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1"
                                        aria-expanded="false" aria-controls="collapseOne1">
                                        Current Capacity
                                    </button>
                                </h2>
                                <div id="collapseOne1" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#buyingquestion1">
                                    <div class="accordion-body">
                                        Our current capacity is to build 12 Rollers and 3 Turnkey minus cars in 12 months. We are working on expanding our production capacity based on demand.  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row align-items-end mb-4 mt-4 pb-4">
                    <div class="col-md-12">
                        <div class="section-title mb-4">
                            <h2 class="fw-bold text-white text-center text-uppercase">EXTRAS & OPTIONS</h2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="accordion" id="buyingquestion2">
                            <div class="accordion-item rounded">
                                <h2 class="accordion-header" id="headingOne2">
                                    <button class="accordion-button border-0 bg-light text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2"
                                        aria-expanded="false" aria-controls="collapseOne2">
                                        EXTRAS & OPTIONS
                                    </button>
                                </h2>
                                <div id="collapseOne2" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne2"
                                    data-bs-parent="#buyingquestion2">
                                    <div class="accordion-body">
                                        GENZCars supply every single part required to complete the car. Buy online or email us at sales@genz40.com to learn more.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock content %}

{% block script %}
{% endblock script %}