{% extends "public/layout/base.html" %}
{% load static %}
{% block header %}
{% endblock %}

{% block content %}
        <!-- Hero Start -->
        <section class="bg-half-170 d-table w-100" style="background: url('/static/images/modern01.jpg');">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="pages-heading title-heading">
                            <h2 class="text-white title-dark"> Blog </h2>
                            <p class="text-white-50 para-desc mb-0 mx-auto">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="position-breadcrumb">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                            <li class="breadcrumb-item"><a class="logo-font" href="index.html">GEN-Z</a></li>
<!--                            <li class="breadcrumb-item"><a href="#">Company</a></li>-->
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ul>
                    </nav>
                </div>
            </div> <!--end container-->
        </section><!--end section-->

        <!-- Hero End -->

      <!-- Blog STart -->
      <section class="section" style="background-color: white;">
          <div class="container">
              <div class="row">
                  {% for blog in blogs %}
                  <div class="col-lg-4 col-md-6 mb-4 pb-2">
                      <div class="card blog blog-primary rounded border-0 shadow overflow-hidden">
                          <div class="position-relative">
                              <img src="{{ blog.featured_image }}" class="card-img-top" alt="{{ blog.title }}">
                              <div class="overlay rounded-top"></div>
                          </div>
                          <div class="card-body content">
                              <h5><a href="{% url 'blog_details' %}?slug={{ blog.slug }}" class="card-title title text-dark">{{ blog.title }}</a></h5>
                              <p class="card-text">{{ blog.excerpt }}</p>
                              <div class="post-meta d-flex justify-content-between mt-3">
                                  <ul class="list-unstyled mb-0 d-flex">
                                      <li class="list-inline-item me-3"><i class="uil uil-heart me-1"></i>{{ blog.likes }}</li>
                                      <li class="list-inline-item"><i class="uil uil-comment me-1"></i>{{ blog.comments }}</li>
                                  </ul>
                                  <a href="{% url 'blog_details' %}?slug={{ blog.slug }}" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                              </div>
                          </div>
                          <div class="author">
                              <small class="user d-block"><i class="uil uil-user"></i> {{ blog.author.name }}</small>
                              <small class="date"><i class="uil uil-calendar-alt"></i> {{ blog.published_date }}</small>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div><!--end row-->
          </div><!--end container-->
      </section><!--end section-->
      <!-- Blog End -->
{% endblock content %}

{% block script %}

{% endblock script %}