{% extends "public/layout/base.html" %}
{% load static %}
{% block header %}
{% endblock %}

{% block content %}
        <!-- Start Contact -->
        <section class="section pt-5 mt-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="card map border-0">
                            <div class="card-body p-0">
                                <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=72%20Edmund%20Street,%20Edision,%20NJ%2008817+(Genz40)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin" style="border:0; width:100% !important;" allowfullscreen></iframe> -->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-4">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0 order-2 order-md-1">
                        <div class="card custom-form rounded border-0 shadow p-4">
                            <form method="post" id="contact-form">
                                {% csrf_token %}
                                <p id="error-msg" class="mb-0"></p>
                                <div id="simple-msg"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <!-- <label class="form-label">Your Name <span class="text-danger">*</span></label> -->
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input name="name" id="name" type="text" class="form-control ps-5" placeholder="Full Name *" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <!-- <label class="form-label">Your Email <span class="text-danger">*</span></label> -->
                                            <div class="form-icon position-relative">
                                                <i data-feather="mail" class="fea icon-sm icons"></i>
                                                <input name="email" id="email" type="email" class="form-control ps-5" placeholder="Email *" required>
                                            </div>
                                        </div> 
                                    </div><!--end col-->

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <!-- <label class="form-label">Password <span class="text-danger">*</span></label> -->
                                            <div class="form-icon position-relative">
                                                <i data-feather="phone" class="fea icon-sm icons" style="color: #000 !important;"></i>
                                                <input type="number" name="phone_number" class="form-control ps-5" placeholder="Phone Number" style="color: #000 !important;">
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <!-- <label class="form-label">Subject</label> -->
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <select class="form-select form-control" name="car" aria-label="Default select example" style="color: #000 !important;" required>
                                                        <option selected>Select Car *</option>
                                                        {% for item in nav_items %}
                                                            <option value="{{item}}">{{ item }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <!-- <label class="form-label">Comments <span class="text-danger">*</span></label> -->
                                            <div class="form-icon position-relative">
                                                <i data-feather="message-circle" class="fea icon-sm icons clearfix"></i>
                                                <textarea name="comments" id="comments" rows="3" class="form-control ps-5" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button type="submit" id="submit" name="send" class="btn btn-primary">Send Message
                                                <span class="spinner-border spinner-border-sm" id="pro1" role="status" aria-hidden="true" style="display: none;"></span>
                                            </button>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form>
                        </div><!--end custom-form-->
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-6 order-1 order-md-2">
                        <div class="title-heading ms-lg-4">
                            <h4 class="mb-4">Contact Details</h4>
                            <!-- <p class="text-muted">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> -->
                            
                            <div class="d-flex contact-detail align-items-center mt-3">
                                <div class="icon">
                                    <i data-feather="mail" class="fea icon-m-md text-dark me-3"></i>
                                </div>
                                <div class="flex-1 content">
                                    <h6 class="title fw-bold mb-0">Email</h6>
                                    <a href="mailto:contact@example.com" class="text-primary">hello@genz40.com</a>
                                </div>
                            </div>
                            
                            <div class="d-flex contact-detail align-items-center mt-3">
                                <div class="icon">
                                    <i data-feather="phone" class="fea icon-m-md text-dark me-3"></i>
                                </div>
                                <div class="flex-1 content">
                                    <h6 class="title fw-bold mb-0">Phone</h6>
                                    <a href="tel:+152534-468-854" class="text-primary">+1 917-617-8351</a>
                                </div>
                            </div>
                            
                            <div class="d-flex contact-detail align-items-center mt-3">
                                <div class="icon">
                                    <i data-feather="map-pin" class="fea icon-m-md text-dark me-3"></i>
                                </div>
                                <div class="flex-1 content">
                                    <h6 class="title fw-bold mb-0">Location</h6>
                                    <p>72 Edmund Street, Edision, NJ 08817</p>
                                    <!-- <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin" data-type="iframe" class="video-play-icon text-primary lightbox">View on Google map</a> -->
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End contact -->
{% endblock content %}

{% block script %}
<script>
    $("#contact-form").submit(function (e) {
    event.preventDefault();
    var data = new FormData($('#contact-form').get(0));
    $('#pro1').show();
        $.ajax({
            type: 'POST',
            url: "{% url 'save_contact' %}",
            data: data,
            headers: {
			'X-CSRFToken': getCookie('csrftoken') // Use this if you have CSRF protection enabled
		},
            cache: false,
            processData: false,
            contentType: false,
            crossDomain: true,
            success: function (response) {
                if (response.is_success) {
                    toastr.success(response.message);
                } else {
                    toastr.error(response.message);
                }
                $('#contact-form')[0].reset();
                $('#pro1').hide();
            },
            error: function (response) {
                // alert the error if any error occurred
                alert(response["error"]);
                $('#pro1').hide();
            }
        })
    })

</script>
<script>
    function getCookie(name) {
	let cookieValue = null;
	if (document.cookie && document.cookie !== '') {
		const cookies = document.cookie.split(';');
		for (let i = 0; i < cookies.length; i++) {
			const cookie = cookies[i].trim();
			// Does this cookie string begin with the name we want?
			if (cookie.substring(0, name.length + 1) === (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
	return cookieValue;
}
</script>
{% endblock script %}