{% extends "public/layout/base.html" %}
{% load static %}
{% block header %}
{% endblock %}

{% block content %}

<!-- Start Privacy -->
<section class="section d-flex">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow rounded border-0">
                    <div class="card-body">
                        <h5 class="card-title">Overview :</h5>
                        <p class="text-muted">This Privacy Policy ("Policy") applies to www.genz40.com, and GENZ40 INC ("Company") and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to the Company include www.genz40.com. The Company's website is a Small Business Search Engine Social Networking site. By using the Company website, you consent to the data practices described in this statement.</p>
                        <h5 class="card-title">Collection of your Personal Information :</h5>
                        <p class="text-muted">In order to better provide you with products and services offered, the Company may collect personally identifiable information, such as your:</p>
                        <ul class="list-unstyled text-muted">
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>First and last name</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Email address</li>
                        </ul>
                        <p class="text-muted">If you purchase the Company's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction.</p>
                        <p class="text-muted">Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through the Company's public message boards, this information may be collected and used by others.</p>
                        <p class="text-muted">We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services. These may include: (a) registering for an account; (b) entering a sweepstakes or contest sponsored by us or one of our partners; (c) signing up for special offers from selected third parties; (d) sending us an email message; (e) submitting your credit card or other payment information when ordering and purchasing products and services. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future.</p>

                        <h5 class="card-title">Use of your Personal Information :</h5>
                        <p class="text-muted">The Company collects and uses your personal information in the following ways:</p>
                        <ul class="list-unstyled text-muted">
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>to operate and deliver the services you have requested</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>to provide you with information, products, or services that you request from us</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>to provide you with notices about your account</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>to carry out the Company's obligations and enforce our rights arising from any contracts entered between you and us, including for billing and collection</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>to notify you about changes to our www.genz40.com or any products or services we offer or provide through it</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>in any other way we may describe when you provide the information</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>for any other purpose with your consent.</li>
                        </ul>
                        <p class="text-muted">The Company may also use your personally identifiable information to inform you of other products or services available from the Company and its affiliates.</p>

                        <h5 class="card-title">Your Account</h5>
                        <p class="text-muted">If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. You may not assign or otherwise transfer your account to any other person or entity. You acknowledge that Genz40 is not responsible for third party access to your account that results from theft or misappropriation of your account. Genz40 and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion.</p>

                        <h5 class="card-title">Sharing Information with Third Parties</h5>
                        <p class="text-muted">The Company does not sell, rent, or lease its customer lists to third parties.</p>
                        <p class="text-muted">The Company may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (email, name, address, phone number) is transferred to the third party. The Company may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to the Company, and they are required to maintain the confidentiality of your information.</p>
                        <p class="text-muted">The Company may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on the Company or the site; (b) protect and defend the rights or property of the Company; and/or (c) act under exigent circumstances to protect the personal safety of users of the Company, or the public.</p>
                        

                        <h5 class="card-title">Opt-Out of Disclosure of Personal Information to Third Parties</h5>
                        <p class="text-muted">In connection with any personal information that we may disclose to a third party for a business purpose, you have the right to know:</p>
                        <ul class="list-unstyled text-muted">
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>The categories of personal information that we disclosed about you for a business purpose.</li>
                        </ul>
                        <p class="text-muted">You have the right under the California Consumer Privacy Act of 2018 (CCPA) and certain other privacy and data protection laws, as applicable, to opt out of the disclosure of your personal information. If you exercise your right to opt out of the disclosure of your personal information, we will refrain from disclosing your personal information, unless you subsequently provide express authorization for the disclosure of your personal information. To opt out of the disclosure of your personal information, visit this web page www.genz40.com/settings.</p>

                        <h5 class="card-title">Automatically Collected Information</h5>
                        <p class="text-muted">The Company may automatically collect information about your computer hardware and software. This information can include your IP address, browser type, domain names, access times, and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding the use of the Company's website.</p>

                        <h5 class="card-title">Links</h5>
                        <p class="text-muted">This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>


                        <h5 class="card-title">Security of your Personal Information</h5>
                        <p class="text-muted">The Company secures your personal information from unauthorized access, use, or disclosure. The Company uses the following methods for this purpose:</p>
                        <ul class="list-unstyled text-muted">
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>SSL Protocol</li>
                        </ul>
                        <p class="text-muted">When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>
                        <p class="text-muted">We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet that are beyond our control; and (b) the security, integrity, and privacy of any and all information and data exchanged between you and us through this site cannot be guaranteed.</p>



                        <h5 class="card-title">Right to Deletion</h5>
                        <p class="text-muted">Subject to certain exceptions set out below, on receipt of a verifiable request from you, we will:</p>
                        <ul class="list-unstyled text-muted">
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Delete your personal information from our records; and</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Direct any service providers to delete your personal information from their records.</li>
                        </ul>
                        <p class="text-muted">Please note that we may not be able to comply with requests to delete your personal information if it is necessary to:</p>
                        
                        <ul class="list-unstyled text-muted">
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Complete the transaction for which the personal information was collected, fulfill the terms of a written warranty or product recall conducted in accordance with federal law, and provide a good or service requested by you, or reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform a contract between you and us;</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity; or prosecute those responsible for that activity;</li>

                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Debug to identify and repair errors that impair existing intended functionality;</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Exercise free speech, ensure the right of another consumer to exercise his or her right of free speech, or exercise another right provided for by law;</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Comply with the California Electronic Communications Privacy Act;</li>

                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when our deletion of the information is likely to render impossible or seriously impair the achievement of such research, provided we have obtained your informed consent;</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Enable solely internal uses that are reasonably aligned with your expectations based on your relationship with us;</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Comply with an existing legal obligation; or</li>
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Otherwise use your personal information, internally, in a lawful manner that is compatible with the context in which you provided the information.</li>
                        </ul>

                        <h5 class="card-title">Children Under Thirteen</h5>
                        <p class="text-muted">The Company does not knowingly collect personally identifiable information from children under the age of 13. If you are under the age of 13, you must ask your parent or guardian for permission to use this website.</p>

                        <h5 class="card-title">Opt-Out and Unsubscribe from Third-Party Communications</h5>
                        <p class="text-muted">We respect your privacy and give you an opportunity to opt out of receiving announcements of certain information. Users may opt out of receiving any or all communications from third-party partners of the Company by contacting us here:</p>
                        <ul class="list-unstyled text-muted">
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>Web page: www.genz40.com/settings</li>
                        </ul>

                        <h5 class="card-title">Email Communications</h5>
                        <p class="text-muted">From time to time, the Company may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication. In order to improve our services, we may receive a notification when you open an email from the Company or click on a link therein.</p>
                        <p class="text-muted">If you would like to stop receiving marketing or promotional communications via email from the Company, you may opt out of such communications by clicking on the unsubscribe button or updating your settings.</p>

                        <h5 class="card-title">Changes to This Statement</h5>
                        <p class="text-muted">The Company reserves the right to change this Policy from time to time. For example, when there are changes in our services, changes in our data protection practices, or changes in the law. When changes to this Policy are significant, we will inform you. You may receive a notice by sending an email to the primary email address specified in your account, by placing a prominent notice on our GENZ40 INC, and/or by updating any privacy information. Your continued use of the website and/or services available after such modifications will constitute your: (a) acknowledgment of the modified Policy; and (b) agreement to abide and be bound by that Policy.</p>
                        
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div>
    <!--end container-->
</section><!--end section-->
<!-- End Privacy -->
{% endblock content %}

{% block script %}
{% endblock script %}